{% extends 'b_base.html' %}

{% block content %}

<form method="POST" action="">
{% csrf_token %}
<center>    

<h5 style = "background-color:pink;">{{error_message}}</h5>

{% if messages %}
<div class="alert alert-info">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %} <br>



<label>To : </label>
<input type="text"  placeholder="Enter Account Number" name="send"> <br><br>

<label>Amount :</label>
<input type="text"  placeholder="Enter Amount" name="amount"> <br><br>

<button type="submit">Submit </button>

</center>

</form>
{% endblock %}