{% extends 'b_base.html' %}

{% block content %}

<form method="POST" action="">
{% csrf_token %}

<center>    
{% if messages %}
<div class="alert alert-info">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% else %}
<div style = "background-color:pink;">{{error_message}}</div>
{% endif %} <br><br><br>


<!-- <label for="emailInput">To:</label>
<input type="text" placeholder="Enter Account Number" name="send" list="account_numbers"> <br><br>

<datalist id="account_numbers">
    {% for account_number in registered_account_numbers %}  
        <option >{{ account_number }} </option>
    {% endfor %}
</datalist> -->

<h6 style = "color: black;"><strong>Paid Amount To - {{user_name|upper}}</strong></h6>  <br>

<label>Amount :</label>
<input required type="text"  placeholder="&#8377;  Enter Amount" name="amount"> <br><br>

<button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">PROCEED TO PAY</button>

</center>
</form>
{% endblock %}